/*****/
body
{
    background: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10pt;
    padding: 0;
    margin: 0 auto !important;
    max-width:1280px;

}

body#bd
{
    background: url(../images/body-bg.jpg) repeat-x top #5E6874;
    background-attachment: fixed;
}

body.contentpane
{
    width: auto; /* Printable Page */
    margin: 1em 2em;
    background: #FFFFFF;
    color: #000000;
    line-height: 140%;
}

/* Normal link */
a
{
    color: #336699;
    text-decoration: underline;
}

a:hover, a:active, a:focus
{
    color: #5FA4FB;
    text-decoration: underline;
}

/* Heading */
h1
{
    font-size: 1.5em;
    font-weight: normal;
}

h2
{
    font-size: 1.3em;
}

h3
{
    font-size: 1.1em;
}

h4
{
    font-size: 1em;
}

p
{
    margin: 5px 0 5px;
}

form
{
    margin: 0;
}

/* Message Detail*/
.message
{
    background-color: #F6F6F3;
}
.message div.contentwrap
{
    padding: 5px;
}

.message td.tlabel
{
    background-color: white;
    border-bottom: 1px solid black;
}

.message th
{
    text-align: right;
    vertical-align: middle;
}

.inputfield
{
    background-color: white;
    border: 1px solid #99AABD;
    padding: 2px;
    min-height: 16px;
    width: 99%;
}

.inputfield a
{
    text-decoration: none;
}

.inputfield a:hover
{
    text-decoration: underline;
}

/* MessagePane */
.messagetitle
{
    background: #DEF0FF url(images/BarBg.png) repeat-x left bottom;
    padding: 5px;
}

.messagetitle span.rightcol
{
    margin: 0 0 0 150px;
}

.messagebody
{
    padding: 10px;
    background-color: white;
}


/* LoginPage */
.login
{
    width: 100%;
    min-height: 400px;
}
.loginwrapper
{
    border: 1px solid #6593CF;
    background-color: #6591CD;
    background-image: url(../images/loginbg.gif);
    background-position: left top;
    background-repeat: repeat-x;
    padding: 3px;
    width: 320px;
    margin: 0 auto;
}

#header1{
    text-align: center;
    height: 82px;

    vertical-align: middle;
    background: #00BCD4;
}
#title-login{
        text-align: center;
    margin: 0px;
    vertical-align: middle;
    padding-top: 20px;
    color: white;
    font-weight: bold;
    font-size: 2em;
}
#header-login-box{
    text-align: center;
    vertical-align: middle;
    background: #00BCD4;
    height:40px;
}
#title-login-box{
    text-align: center;
    margin: 0px;
    vertical-align: middle;
    padding-top: 10px;
    color: white;
    font-weight: bold;
    font-size: 2em;
}
/* News
--------------------------------------------------------- */
.newsbox
{
    background-color: #F7F7F7;
    border: 1px solid #dcdcdc;
    width: 49.9%;
}
.newsbox h3
{
    padding: 7px 9px 6px 9px;
}
.newsbox .hd
{
    margin: 0;
    padding: 0;
    border: 0;
    border-bottom: 1px solid #dbdbdb;
    background: #fff;
}
.newsbox .bd
{
    border: 1px solid #fff;
    border-width: 0 1px 1px 1px;
    padding: 10px 8px;
}

.news
{
    margin: 0 auto;
    clear: both;
    padding-bottom: 5px;
}


.news .article_seperator
{
    display: block;
    background: url(../images/seperator.gif) repeat-x center;
    height: 20px;
}

.news p
{
    margin: 0px;
    line-height: 1.25em;
    padding-bottom: 10px;
}
.news .subtitle
{
    font-weight: normal;
    color: blue;
}

.news .news_separator
{
    border-bottom: 1px dashed #BBCDE5;
    font-size:0;
    height:1px;
}
    
/* Common
--------------------------------------------------------- */

.article-tools
{
    display: block;
    margin: 0 0 10px;
    width: 100%;
    clear: both;
    color: #999999;
    position: relative;
    padding-top: 5px;
}

.article-meta
{
    padding: 0;
    width: 70%;
    float: left;
}

div.buttonheading
{
    padding: 3px;
    position: absolute;
    right: 0;
    top: 0;
    width: 82px;
}

h3.contentheading, .contentheading
{
    margin: 0;
    padding: 0 8px 0 0;
    font-size: 1.3em;
}

.category
{
    font-weight: bold;
}

.clr
{
    clear: both;
}

.componentheading
{
    padding-bottom: 5px;
    margin-bottom: 10px;
    background: url(../images/seperator2.gif) no-repeat bottom right;
    color: #4F89D2;
    font-size: 1.7em;
    line-height: normal;
    font-weight: bold;
}

.contentdescription
{
    padding-bottom: 30px;
}

.contentheading
{
    color: #4F89D2;
}

a.contentpagetitle
{
    text-decoration: none !important;
}

a.contentpagetitle:hover, a.contentpagetitle:active, a.contentpagetitle:focus
{
    text-decoration: none !important;
}

a.readon
{
    float: right;
    padding: 1px 5px 1px 16px;
    display: block;
    background: url(../images/arrow-readon.gif) no-repeat 5% 55% #4F89D2;
    color: #FFFFFF;
    font-size: 0.87em;
    text-decoration: none;
}

a.readon:hover, a.readon:active, a.readon:focus
{
    color: #FFFFFF;
    background: url(../images/arrow-readon.gif) no-repeat 5% 55% #5FA4FB;
    text-decoration: none !important;
}

.mosimage
{
    padding: 0;
    margin: 8px 15px 0 0 !important;
    margin: 8px 5px 0 0;
}

.mosimage img
{
    padding: 0;
    margin: 0 !important;
}

.mosimage_caption
{
    margin-top: 2px;
    padding: 1px 2px;
    color: #8E9CAE;
}

.error
{
    background: url(../images/bullet-error.gif) no-repeat 0px 4px;
    color: #CC0000;
    padding-left: 25px;
    font-size: medium;
}

.tips
{
    background: url(../images/bullet-tips.gif) no-repeat 0px 4px;
    color: Black;
    padding-left: 25px;
}

.mailstatus
{
    background-color: #E7FBC0;
    border: 1px solid #B0BF92;
    border-top: none;
    padding: 5px 0 5px 10px;
    font-weight: bold;
}

.attach
{
    padding-left: 4px;
}

.attach img
{
    padding-right: 2px;
}

.TipTextFailure
{
    border:1px solid #CBABA7;
    border-top:none;
    background-color:#FEDAD5;
    padding:3px 11px 2px;
    font-weight:bold;
    color:#555555;
}
/* MAIN LAYOUT DIVS
--------------------------------------------------------- */
#wrapper
{
    margin: 0 auto;
    padding: 0;
    width: 95%;
    text-align: left;
    min-width: 750px;
    max-width: 2000px;
}

.narrow #wrapper
{
    width: 750px;
}

.wide #wrapper
{
    width: 980px;
}

#container, #container-fr, #container-fl, #container-f
{
    padding: 0;
    width: 100%;
}

#container, #container-fr
{
    background: url(../images/container-bg.gif) repeat-y 20% 0 #FFFFFF;
}

#container-fl, #container-f
{
    background: #FFFFFF;
}

#contentwrap
{
    background: url(../images/grad1.gif) repeat-x top;
}

#content
{
    padding: 5px;
}

/* HEADER
--------------------------------------------------------- */
#header
{
    background: url(../images/header.jpg) no-repeat center;
    color: #FFFFFF;
    text-align: left;
    line-height: normal;
    height: 82px;
    position: relative;
    width: 100%;
}

#header h1
{
    font-size: 2em;
    position: absolute;
    top: 12px;
    left: 15px;
}

#header h1 img
{
    float: left;
}

#header .rightbox
{
    float: right;
    display: inline;
    margin-top: 5px;
    margin-right: 20px;
}

#header .rightbox a
{
    float: left;
    padding-left: 5px;
    color: #fff;
    display: block;
    text-decoration: none;
}

#header .rightbox a img, #header .rightbox a:hover img
{
    border: none;
    vertical-align: middle;
    margin-right: 2px;
}

/* MAIN NAVIGATION
--------------------------------------------------------- */
#mainnav
{
    float: left;
    width: 100%;
    font-size: 1em;
    line-height: normal;
    background: #646E7B;
    border-bottom: 5px solid #5FA4FB;
}

#subnavwrap
{
    clear: both;
    float: left;
    width: 100%;
    background: #5FA4FB;
    border-bottom: 5px solid #5FA4FB;
}

#subnav
{
    padding: 0 10px;
}

/* PATHWAY
---------------------------------------------------------*/
#pathway
{
    text-align: right;
    padding: 5px 7px 5px;
    text-indent: 10px;
    background: url(../images/pathway-bg.gif) repeat-x bottom #FFFFFF;
    color: #646E7B;
}

#pathway strong
{
    margin-right: 10px;
}

#pathway img
{
    margin: 0 5px;
}

#pathway a
{
    color: #646E7B;
    text-decoration: underline;
}

#pathway a:hover, #pathway a:active
{
    color: #646E7B;
    text-decoration: none;
}


/* CONTENT COLUMN
--------------------------------------------------------- */
#mainbody, #mainbody-fl, #mainbody-fr, #mainbody-f
{
}

#mainbody
{
    float: left;
    width: 80%;
}

#mainbody #contentwrap
{
    float: right;
    width: 74.9%;
}

#mainbody-fl
{
    float: left;
    width: 80%;
}

#mainbody-fl #contentwrap
{
    float: left;
    width: 100%;
}

#mainbody-fr
{
    float: left;
    width: 100%;
}

#mainbody-fr #contentwrap
{
    float: right;
    width: 79.9%;
}

#mainbody-fr #leftcol
{
    width: 20%;
}

#mainbody-fr #contentwrap #leftcol
{
    width: 69.9%;
}

#mainbody-fr #contentwrap #rightcol
{
    width: 30%;
    float: right;
}

#mainbody-f
{
    float: left;
    width: 100%;
}

/* LEFT COLUMN
--------------------------------------------------------- */
#leftcol
{
    float: left;
}

#rightcol
{
    float: left;
}


/* FOOTER
--------------------------------------------------------- */
#footer
{
    clear: both;
    background: url(../images/footer.jpg) repeat-x;
    color: #C6CED9;
    border-bottom: 1px solid #3A4048;
    position: relative;
    height: 60px;
}

#footer a
{
    color: #C6CED9;
    text-decoration: none;
}

#footer a:hover, #footer a:active, #footer a:focus
{
    color: #5FA4FB;
}

#bottomline
{
    position: absolute;
    top: 10px;
    left: 15px;
}

/* Clearfix */
.clearfix:after
{
    clear: both;
    display: block;
    content: ".";
    height: 0;
    visibility: hidden;
}

* html > body .clearfix
{
    width: 100%;
    display: block;
}

* html .clearfix
{
    height: 1%;
}

/* Firefox Scrollbar Hack - Do not remove */
html
{
    margin-bottom: 1px;
    height: 100% !important;
    height: auto;
}

.submenu .rpImage
{
    padding-left: 3px;
    padding-right: 3px;
}

.flatbtn
{
    background-color: #e6f2ff;
    border: solid 1px #6c9bd1;
    color: #3165cd;
    text-decoration: none;
    text-align: center;
    width: 80px;
}

.highlight
{
    border-bottom: 1px dotted;
    background: #DFE5EC;
    font-weight: bold;
}

hr
{
    border-top: 1px solid #C6CED9;
    border-right: 0;
    border-left: 0;
    border-bottom: 0;
    height: 1px;
}

div.attachment
{
    background-color: #4F89D2;
    padding: 5px 60px 15px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #FFFFFF;
}

div.attachment h3
{
    color: #FFFFFF;
    font-size: 1.1em;
    margin: 10px 0 10px 0;
}

div.moduletable-hilite h3
{
    color: #FFFFFF;
    font-size: 1em;
}

div.moduletable-hilite
{
    margin-bottom: 5px;
    padding: 0px 10px 10px;
    color: #FFFFFF;
    background: #4F89D2;
}

/* Code text */
pre, .code
{
    padding: 10px 15px;
    margin: 5px 0 15px;
    border-left: 5px solid #8E9CAE;
    background: #ECF0F4;
    font: 1em/1.5 "Courier News" , monospace;
}

/* Search */
.searchfrm .title
{
    color: #4F89D2;
    text-decoration: none !important;
    font-weight: bold;
}
.search
{
    margin-left: 10px;
    height: 25px;
    vertical-align: middle;
}

.search input
{
    margin: 0;
    float: left;
    display: block;
}

/* Valid Field */
.validation
{
    font-size: 16pt;
    vertical-align: middle;
}

span.marker
{
    color: Red;
    font-size: 9pt;
    font-weight: bold;
}


body#bd
{
    background: url(images/body_bg.png) repeat-x top #486583;
    background-attachment: fixed;
}

#toolbarwrapper
{
    width: 100%;
    height: 27px;
    border-bottom: solid 1px #BBBBBB;
    vertical-align: middle;
    background: #fff url(images/ToolbarBg.gif) repeat-x left top;
}

.textbox
{
    border: Solid 1px #7eacb1;
    padding: 2px;
}

div.box-body
{
    padding: 5px 10px !important;
    background-color: #fff;
}

div.box
{
    padding: 0;
    float: left;
    clear: both;
    width: 99%;
    border: solid 1px #98BFC2;
    margin-bottom:5px;
    border-bottom:solid 2px #98BFC9;
    overflow: hidden;
}

div.box .box-title
{
    margin: 1px;
    padding: 5px 0 8px 15px;
    background: #DEF0FF url(images/BarBg.png) repeat-x left bottom;
}


div.box-left, div.box-right
{
    padding: 0;
    float: left;
    border: solid 1px #98BFC2;
}

.box-right .box-body, .box-left .box-body
{
    background-image: none;
    background-color: #FCFCFC;
    padding: 5px 10px !important;
}

div.box-right .box-title, div.box-left .box-title
{
    margin: 1px;
    padding: 5px 0 5px 15px;
    background-color: Teal;
    color: White;
    font-weight: bold;
    border-bottom: solid 1px #E7E8E6;
}

.news a
{
    color: #4C4C4C;
}

.news .tcat
{
    background: none;
    text-decoration: none;
    font-weight: bold;
    color: #8A0000;
    background: url(images/bullet-post.gif) no-repeat left center !important;
    padding-left: 18px;
}

.news .thead, .thead1
{
    background: none;
    text-decoration: none;
    background: url(images/square.gif) no-repeat left top !important;
    padding-left: 10px;
    line-height: 20px;
    color: #000;
}

.news .thead1
{
    background: url(images/bullet.png) no-repeat left 5px !important;
}

.news .thead:hover
{
    color: #B74000;
    text-decoration: underline;
}

.message
{
    background-color: #EFFBFE;
    border: 1px solid #C6CED9;
}

#rightcol .multiPage
{
    border-top: none;
    background-color: transparent;
    margin-top: -1px;
}

.inputField, .webSearchField
{
    background-color: white;
    border: 1px solid #99AABD;
    padding: 3px 6px;
}

.contentwrap th
{
    color: #497699;
}

.statitic
{
    border: 1px solid #ccc;
}

.statitic th
{
    background: #1E5892 url(images/tcat.gif) repeat-x left center;
    border-bottom: 1px solid #ccc;
}

.statitic td.left
{
    border-right: 1px solid #ccc;
}

.templateLink
{
    background: none;
    text-decoration: none;
    background: url(images/bullet.png) no-repeat left 5px !important;
    padding-left: 10px;
    line-height: 20px;
    color: #000;
}

#messagewrapper
{
    height: 100%;
    background-color: Blue;
}

.multiPage
{
    border: 1px solid #898c95;
    background-color: #C2DCF0;
    padding: 5px;
}

/* Control */
#ctl00_ContentPlaceHolder_ToolbarPane
{
    border-bottom: none;
}

#ctl00_ContentPlaceHolder_GridPane
{
    border-top: none;
}

#ctl00_ContentPlaceHolder_redtBody
{
    border: none;
}

#ctl00_ContentPlaceHolder_redtBodyCenter
{
    padding: 3px;
}

.RadToolBar .RadComboBox, .RadMenu .RadComboBox, .RadMenu .skinLabel
{
    vertical-align: middle;
}

#ctl00_ContentPlaceHolder_RadSplitter1
{
    height: 100%;
}

#ctl00_ContentPlaceHolder_ctl00_ContentPlaceHolder_RadGrid1Panel
{
    height: 100%;
}

div.RadGrid, div.RadGrid .rgMasterTable, div.RadGrid .rgDetailTable, div.RadGrid .rgGroupPanel table, div.RadGrid .rgCommandRow table, div.RadGrid .rgEditForm table, div.RadGrid .GridToolTip_Custom
{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 9pt;
}

div.RadPanelBar .rpLink, div.RadPanelBar .rpTemplate
{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 9pt;
}
div.RadToolBar .rtbWrap, div.RadToolBar .rtbTemplate, div.RadToolBarDropDown div.rtbWrap, div.RadToolBarDropDown div.rtbTemplate
{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 9pt;
}

div.RadEditor body
{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 9pt;
    padding: 3px;
}

.NoRecord
{
    padding: 15px;
    margin: 10px;
    border: 1px solid #99AABD;
    background-color: #E9F2FA;
}

div.RadToolBar
{
    width: 100%;
}

div.toolbar .rtbOuter, div.toolbar .rtbMiddle, div.toolbar .rtbInner
{
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    padding-left: 0;
    padding-right: 0;
}

.textbox
{
    border: Solid 1px #7eacb1;
    padding: 2px;
}

.reTool  .InsertEmoticon
{
    background-image: url(images/Emoticon.gif) !important;
}

.rfdSkinnedButton
{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 9pt;
}

td.hyperlink a
{
    text-decoration:none;
    color:black !important; 
}

td.hyperlink a:hover
{
    color:blue !important; 
}

/*crystall report*/
.panelNavigator{
    display:none!important;
}

.hideableFrame{
    display:none !important;
}
#CrystalReportViewer1_toptoolbar{
    display:none;
}
 #ctl00_ContentPlaceHolder_CrystalReportViewer1__UI {
           /*width: 768px !important;*/
           height: 630px !important;
}
 /*td.dialogzone div div div div {
    
     overflow:hidden !important;
     overflow:auto !important;
    
 }*/

#parentrptlichtrucban{
      width: 768px !important;
      height: 630px !important;
}
.parentrpt-lichtrucban{
    overflow:scroll !important;
}

/*document detail*/
.title-detail-document{
    color: #FF5722;
    font-size: 15px;
    padding:10px;
}
#ctl00_ContentPlaceHolder_RadGrid2_GridData{
    height:auto !important;
}
#ctl00_ContentPlaceHolder_RadGrid2_GridHeader{
    padding-right:0 !important;
}


