﻿/* Required to have full-screen RadSplitter */
html, body, form
{
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 9pt;
}

body#bd
{
    background: url(images/body_bg.png) repeat-x top #486583;
    background-attachment: fixed;
}

form
{
    cursor: default;
}

#wrapper
{
    margin: 0 auto;
    padding: 0;
    height: 100%;
    text-align: left;
    min-width: 750px;
    max-width: 2000px;
    background-color: White;
}

.narrow #wrapper
{
    width: 750px;
}

.wide #wrapper
{
    width: 980px;
}