﻿body, html
{
    margin: 0;
    padding: 0;
}

.wide #wrapper
{
    width: 800px;
}

#header, #footer, #toppage, #pathway, #toolbarwrapper
{
    display:none;
}

.article-tools
{
    display:none;
}

/* Message */
.inputfield
{
    border:none;
    width:500px;
}

#messagewrapper
{
    border:none;
    width:700px;
    font-size:11pt;
}