﻿/* Toolbar */
.toolbar2007
{
    height: 24px;
    border: 0px;
    border-top: 1px solid #E3EFFF;
    border-bottom: 1px solid #6494D5;
    background-color: #E3EFFF;
    color: #000000;
    font-size: 9pt;
    font-weight: normal;
    font-family: Tahoma;
    background-image: url(../images/toolbar.gif);
    margin-bottom: 10px;
}
.toolbar2007 a, .toolbar2007 a:hover, .toolbar2007 a:visited
{
    font-weight: normal;
    color: #000000;
    text-decoration: none;
}
.toolbar2007 a
{
    float: left;
    padding: 3px 4px 0px 4px;
    margin: 0px;
    height: 20px;
    cursor: hand;
    display: block;
}
.toolbar2007 a:hover
{
    padding: 2px 3px 0px 3px;
    margin: 0px;
    border: 1px solid #FFBD69;
    background-color: #FFE7A2;
    height: 19px;
    cursor: hand;
}
.toolbarbuttonDown
{
    padding: 2px 2px 0px 2px;
    margin: 0px;
    border: 1px solid #FB8C3C;
    background-color: #FFAB3F;
    height: 20px;
    cursor: hand;
}
.toolbarseparator
{
    margin: 2px 3px 0px 1px;
    width: 0px;
    border: 0px;
    border-left: 1px #9AC6FF solid;
    border-right: 1px #FFFFFF solid;
    height: 15px;
    overflow: hidden;
}

.toolbar2007 a img, .toolbar2007 a:hover img
{
    border: none;
    vertical-align: middle;
    margin-right: 2px;
}

.toolbar
{
    height: 25px;
    background: #7FB7E1 url(../images/toolbar.gif) repeat-x;
    padding-left: 5px;
    margin-bottom: 5px;
}
.toolbar a
{
    float: left;
    display: block;
    padding: 4px;
    color: navy;
    text-decoration: none;
    margin: 1px;
    cursor: pointer;
    cursor: hand;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-family: Arial;
    font-size: 9pt;
    border: solid 1px white;
}
.toolbar a:hover
{
    float: left;
    padding: 3px;
    background: #E9F2F8;
}
.toolbar a img, .toolbar a:hover img
{
    border: none;
    vertical-align: middle;
    margin-right: 2px;
}
.toolbar a.right
{
    float: right;
}
