﻿<div data-role="view" data-layout="mt-main-layout" data-title="Account" 
    data-model="mOffice.userAccount.viewModel" id="mt-theaters-view">

    <!-- This section is bound by Kendo MVVM Invisible binding -->
    <div id="usracc-login-section" data-bind="invisible: isUserLoggedIn ">
        <ul data-role="listview" data-style="inset">

            <li>
                <label>User Name:  </label>
                <input type="text" data-bind="value:userName" id="user-acc-username" /></li>
            <li>
                <label>Password:  </label>
                <input type="text" id="user-acc-password" data-bind="value:password" /></li>

        </ul>
        <div class="centerAlign">
            <a data-role="button" id="user-acc-login-button" data-bind="click:userLogin">Login </a>
        </div>
    </div>

    <div id="usracc-user-details" data-bind="visible: isUserLoggedIn ">
        <div>
            <ul data-role="listview">
                <li>Full Name
                    <input type="text" id="usracc-firstName" data-bind="value: fullName" />
                </li>
            </ul>
        </div>
    </div>
</div>