﻿<%@ Control Language="vb" AutoEventWireup="false" CodeFile="Footer.ascx.vb" Inherits="Footer" %>
<p id="bottomline">Copyright &copy; SAA</p>

<div style="float:right; padding:10px">
    <p>Thiết kế: <b>1024x768</b> </p>
</div>
