#toolbar {
	margin: 5px 2px;
}
.mailAction, .documentAction {
	float: right;
}

.inboxList
{
	font-size: .8em;
}

.inboxList p,
.inboxList h2,
.inboxList h3
{
	margin: 5px 2px;
}

.inboxList p,
.inboxList h3
{
	color: #777;
}

.inboxList h3.time
{
	color: #369;
	float: left;
	margin-right: 10px;
}

#mailResult, #documentResult
{
	padding: 10px;
	background: rgba(127,127,127,.5);
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin: 0;
}

.km-mail {
	-webkit-mask-box-image: url("images/mail.png");
	background-color: red;
}
.km-document {
	-webkit-mask-box-image: url("images/documents.png");
	background-color: red;
}

.km-ios .head,
.km-blackberry .head {
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

.head {
	display: block;
	margin: 1em;
	background: url(images/mymusic.jpg) no-repeat center center;
	-webkit-background-size: 100% auto;
	background-size: 100% auto;
	height: 110px;
}

.inboxList a.details-link {
	display: block;
	text-decoration: none;
	overflow: hidden;
}

.button {
	margin: 0 0 0 .5em;
	text-align: center;
}

.button:first-of-type {
	margin: 0 0 0 1em;
}

.centerAlign {
    text-align:center;
}