/*Telerik RadGrid Custom Skin*/

/*global*/

.RadGrid_Custom
{
    border: 1px solid #7EACB1;
    background: #fff;
    color: #27413e;
    cursor: default;
    cursor: hand;
    cursor: pointer;
}

.RadGrid_Custom, .MasterTable_Custom, .DetailTable_Custom, .GroupPanel_Custom table, .GridEditForm_Custom table
{
    font-style: normal;
    font-variant: normal;
}

.MasterTable_Custom, .DetailTable_Custom
{
    border-collapse: separate !important;
}

.GridRow_Custom td, .GridAltRow_Custom td, .GridEditRow_Custom td, .GridFooter_Custom td, .GridGroupFooter_Custom td, .GridFilterRow_Custom td, .GridHeader_Custom, .ResizeHeader_Custom
{
    padding-left: 4px;
    padding-right: 4px;
}

.RadGrid_Custom .rgAdd, .RadGrid_Custom .rgRefresh, .RadGrid_Custom .rgEdit, .RadGrid_Custom .rgDel, .RadGrid_Custom .rgFilter, .RadGrid_Custom .rgPagePrev, .RadGrid_Custom .rgPageNext, .RadGrid_Custom .rgPageFirst, .RadGrid_Custom .rgPageLast, .RadGrid_Custom .rgExpand, .RadGrid_Custom .rgCollapse, .RadGrid_Custom .rgSortAsc, .RadGrid_Custom .rgSortDesc, .RadGrid_Custom .rgUpdate, .RadGrid_Custom .rgCancel
{
    width: 16px;
    height: 16px;
    border: 0;
    padding: 0;
    background-color: transparent;
    background-image: url(Grid/sprite.gif);
    background-repeat: no-repeat;
    vertical-align: middle;
    cursor: pointer;
}


.GroupPanelItems_Custom input, .GridCommandRow_Custom img, .GridHeader_Custom input, .GridFilterRow_Custom img, .GridPager_Custom img
{
    vertical-align: middle;
}

.GridHeader_Custom input, .GridRow_Custom input, .GridAltRow_Custom input, .GridRow_Custom img, .GridAltRow_Custom img
{
    margin-left:0px;
    margin-right:0px;
    margin-top:4px;
    margin-bottom:4px;
}


/*header*/

.GridHeaderDiv_Custom
{
    background: url( 'Grid/sprite.gif' ) 0 -2016px repeat-x;
}

.GridHeader_Custom, .ResizeHeader_Custom
{
    border-left: 1px solid #C2D4DA;
    border-bottom: 1px solid #C2D4DA;
    padding-top: 3px;
    background: url( 'Grid/sprite.gif' ) 0 -400px repeat-x #f1f2f4;
    text-align: left;
    font-weight: normal;
}

.GridHeader_Custom:first-child, .ResizeHeader_Custom:first-child
{
    border-left: 0;
    padding-left: 5px;
}

.GridHeader_Custom a
{
    color: #27413e;
    text-decoration: none;
}

/*rows*/

.GridFilterRow_Custom td, .GridEditRow_Custom td, .GridFooter_Custom td, .GridGroupFooter_Custom td
{
    border: 1px #d0d7e5;
    border-style: none none solid solid;
    padding-top: 4px;
    padding-bottom: 4px;
}

.GridRow_Custom td, .GridAltRow_Custom td
{
    border: solid 1px #C2D4DA;
    border-style: none none none solid;
    padding-top: 0px;
    padding-bottom: 0px;
}

.GridRow_Custom img, .GridAltRow_Custom img
{
    float: left;
    cursor: pointer;
}

.GridFilterRow_Custom > td:first-child, .GridRow_Custom > td:first-child, .GridAltRow_Custom > td:first-child, .GridEditRow_Custom > td:first-child, .GridFooter_Custom > td:first-child, .GridGroupFooter_Custom > td:first-child
{
    border-left-color: #fff;
}

.GridRow_Custom a, .GridAltRow_Custom a, .GridEditRow_Custom a, .GridFooter_Custom a, .GridGroupFooter_Custom a, .GridEditForm_Custom a
{
    color: #27413e;
}

.GridAltRow_Custom
{
    background-color: #EDF6FD;
}

.SelectedRow_Custom
{
    background-color: #D8ECF0;
}

.SelectedRow_Custom td, .SelectedRow_Custom > td:first-child
{
    border-top-color: #C5D7EB;
}

.ActiveRow_Custom, .GridRowOver_Custom
{
    background-color: #FED870;
}

.ActiveRow_Custom > td:first-child, .GridRowOver_Custom > td:first-child
{
    border-left-color: #f9d99f;
}

.GridEditRow_Custom
{
    background: #ffffe1;
}

.GridEditRow_Custom td, .GridEditRow_Custom > td:first-child
{
    border-left-color: #ffffe1;
    border-bottom-color: #d0d7e5;
}

/*footer*/

.GridFooter_Custom, .GridGroupFooter_Custom, .GridFooter_Custom a, .GridGroupFooter_Custom a
{
    color: #666;
}

/*status*/

.GridPager_Custom span
{
    color: #193d65;
}

/*pager*/

.GridPager_Custom
{
    background: url('Grid/sprite.gif') 0 -600px repeat-x #d7e5f7;
    line-height: 20px;
}

.GridPager_Custom td
{
    border-top: 1px solid #567db0;
    border-bottom: 1px solid #fff;
    padding: 1px 4px 2px;
}

.GridPager_Custom div span, .GridPager_Custom a, .GridPager_Custom .sliderPagerLabel_Custom
{
    color: #01285c;
}

.PagerLeft_Custom
{
    float: left;
}

.PagerRight_Custom
{
    float: right;
}

.PagerCenter_Custom
{
    text-align: center;
}

.PagerCenter_Custom span
{
    vertical-align: middle;
}

.RadGrid_Custom .rgPagePrev
{
    background-position: 5px -1789px;
}

.RadGrid_Custom .rgPageNext
{
    background-position: -21px -1789px;
}

.RadGrid_Custom .rgPageFirst
{
    background-position: 4px -1757px;
}

.RadGrid_Custom .rgPageLast
{
    background-position: -20px -1757px;
}

/*sorting, reordering*/

.GridHeader_Custom .rgSortAsc
{
    background-position: -20px -1693px;
    height: 10px;
}

.GridHeader_Custom .rgSortDesc
{
    background-position: 4px -1693px;
    height: 10px;
}

.TopReorderIndicator_Custom, .BottomReorderIndicator_Custom
{
    width: 9px !important;
    height: 12px !important;
    margin-left: -4px;
    background: url('Grid/sprite.gif') 0 -1664px no-repeat;
}

.BottomReorderIndicator_Custom
{
    background-position: -21px -1664px;
}

/*filtering*/

.GridFilterRow_Custom
{
    background: #fafafa;
}

.RadGrid_Custom .rgFilter
{
    background-position: 2px -1196px;
}

.GridFilterRow_Custom input[type="text"]
{
    border: 1px solid #7f9db9;
    font: 12px arial,verdana,sans-serif;
    color: #27413e;
    vertical-align: middle;
}

/*grouping*/

.GroupPanel_Custom
{
    border-bottom: 1px solid #7EACB1;
    background: url('Grid/grouppanel.gif') repeat-x;
    color: #000;
}

.GroupPanel_Custom td
{
    padding: 4px 4px;
}

.GroupPanel_Custom td td
{
    padding: 0;
}

.GroupPanelItems_Custom
{
    border: 1px solid #325373;
    background: #fff;
    color: #000;
    padding: 1px 2px;
}

.GroupPanel_Custom .rgSortAsc
{
    background-position: -20px -1693px;
}

.GroupPanel_Custom .rgSortDesc
{
    background-position: 4px -1693px;
}

.GroupHeader_Custom
{
    background: #e4ecf7;
    color: #567db0;
}

.GroupHeader_Custom td
{
    border-bottom: 1px solid #d0d7e5;
    padding: 1px 4px 1px 5px;
}

.GroupHeader_Custom p
{
    padding: 0;
    margin: 0;
}

.RadGrid_Custom .rgExpand
{
    background-position: -21px -1723px;
}

.RadGrid_Custom .rgCollapse
{
    background-position: 2px -1326px;

}

.GroupHeader_Custom td div
{
    top: -0.6em;
}

.GroupHeader_Custom td div div
{
    top: 0;
}

/*editing*/

.GridEditForm_Custom
{
    border-bottom: 1px solid #d0d7e5;
}

.GridEditForm_Custom input[type="text"], .GridEditForm_Custom input[type="password"], .GridEditForm_Custom textarea
{
    border: 1px solid #7f9db9;
    font: 12px arial,verdana,sans-serif;
    color: #27413e;
}

.RadGrid_Custom .rgUpdate
{
    background-position: 3px -1949px;
}

.RadGrid_Custom .rgCancel
{
    background-position: 3px -1981px;
}

/*hierarchy*/

.DetailTable_Custom
{
    border: 1px solid #C2D4DA;
    border-right: 0;
}

/*command row*/

.GridCommandRow_Custom
{
    background: #fafafa;
}

.GridCommandRow_Custom td
{
    border-bottom: 1px solid #688caf;
    padding: 2px 4px;
}

.GridCommandRow_Custom td td
{
    border: 0;
    padding: 1px;
}

.GridCommandRow_Custom a
{
    color: #000;
    text-decoration: none;
}

.RadGrid_Custom .rgAdd
{
    background-position: 0 -1856px;
}

.RadGrid_Custom .rgRefresh
{
    background-position: 0 -1824px;
}

.RadGrid_Custom .rgEdit
{
    background-position: 0 -1888px;
}

.RadGrid_Custom .rgDel
{
    background-position: 0 -1920px;
}

/*loading*/

.LoadingPanel_Custom
{
    background: url(  'Grid/loading.gif' ) center center no-repeat #fff;
}

/*multirow select*/

.GridRowSelector_Custom
{
    background: #336 !important;
}

/*row drag n drop*/

.GridItemDropIndicator_Custom
{
    border-top: 1px dashed #666;
}

/*rtl*/

.RadGridRTL_Custom .GridHeader_Custom, .RadGridRTL_Custom .ResizeHeader_Custom
{
    text-align: right;
}

.RadGridRTL_Custom .PagerLeft_Custom, .RadGridRTL_Custom .GridPager_Custom .radslider
{
    float: right;
}

.RadGridRTL_Custom .PagerRight_Custom
{
    float: left;
}
