.RadPanelBar_Custom
{
    background: #EDF3F4;
    white-space: nowrap;
    border: solid 1px #7EACB1;
}

.RadPanelBar_Custom .rpImage
{
    margin: 4px 0;
}

.RadPanelBar_Custom .rpSlide
{
    margin: 2px;
}

.RadPanelBar_Custom .rpText
{
    color: #333;
    padding: 0 21px;
    line-height: 21px;
    background: url( 'PanelBar/headerArrow.gif' ) no-repeat 11px center;
}

.RadPanelBar_Custom .rpLink
{
    border-bottom: solid 1px #bbb;
    border-top: solid 1px white;
    background: #fff url( 'PanelBar/HeaderBg.gif' ) repeat-x left center;
}

.RadPanelBar_Custom .rpGroup .rpText
{
    border: none;
    background: none;
    color: #666;
}

.RadPanelBar_Custom .rpGroup .rpLink
{
    background: none;
    border: solid 1px transparent;
}

.RadPanelBar_Custom .rpGroup .rpExpanded
{
    background: none;
    border-left-style: none;
    border-right-style: none;
    border-top-style: none;
    border-bottom: solid 1px #D5D5D5;
    padding: 3px 5px 3px 5px;
}


.RadPanelBar_Custom .rpExpanded .rpText
{
    background: url( 'PanelBar/HeaderArrowExpanded.gif' ) no-repeat 11px center;
}

.RadPanelBar_Custom .rpExpanded .rpSelected, .RadPanelBar_Custom .rpExpanded:hover
{
    background-image: url("PanelBar/selectbg.gif");
    background-repeat: repeat-x;
    background-position: top;
}

.RadPanelBar_Custom .rpGroup .rpLink:hover
{
    width: auto;
    border: solid 1px #C0DDE0;
    background:#D9ECED url('PanelBar/itemHover.gif') repeat-x top;
}

.RadPanelBar_Custom .rpGroup .rpSelected
{
    background-color: #9ECED6;
    border: solid 1px #87B8C7;
    width: auto;
}

.RadPanelBar_Custom .rpGroup .rpExpanded .rpText
{
    border-top: 0;
    color: #000;
    background: none;
}

.RadPanelBar_Custom .rpLevel2 .rpText
{
    padding-left: 36px;
    line-height: 14px;
}

.RadPanelBar_Custom .rpLevel3 .rpText
{
    padding-left: 48px;
}
.RadPanelBar_Custom .rpLevel4 .rpText
{
    padding-left: 60px;
}

.RadPanelBar_Custom .rpDisabled:hover, .RadPanelBar_Custom .rpDisabled .rpText
{
    color: #ccc;
    cursor: default;
}

.RadPanelBar_Custom .rpGroup .rpDisabled:hover, .RadPanelBar_Custom .rpGroup .rpDisabled .rpText
{
    text-decoration: none;
    background: none;
    color: #ccc;
    cursor: default;
}