﻿body#bd
{
    background-attachment: fixed;
    background:#162c42 url(images/bkg_body.gif) 0 0 repeat-x;
}

#toolbarwrapper
{
    width: 100%;
    height: 27px;
    border-bottom: solid 1px #BBBBBB;
    vertical-align: middle;
    background: #fff url(images/ToolbarBg.gif) repeat-x left top;
}

.textbox
{
    border: Solid 1px #7eacb1;
    padding: 2px;
}

.multiPage
{
    background-color: #EFFBFE;
    border: 1px solid #898c95;
}

div.box-ct
{
    padding: 5px 10px !important;
    background-color: #fff;
}

div.box
{
    padding: 0;
    float: left;
    clear: both;
    width: 99%;
    border: solid 1px #98BFC2;
    overflow: hidden;
}

div.box-left, div.box-right
{
    padding: 0;
    float: left;
    border: solid 1px #98BFC2;
}

.box-right .bd, .box-left .bd
{
    background-image: none;
    background-color: #FCFCFC;
    padding: 5px 10px !important;
}

div.box-right h4, div.box-left h4
{
    margin: 1px;
    padding: 5px 0 5px 15px;
    background-color: #F8F8F7;
    border-bottom: solid 1px #E7E8E6;
    color: #1B1F22;
    background: transparent url(images/box-bg1.gif) repeat-x scroll center bottom;
}


div.box h4
{
    margin: 1px;
    padding: 5px 0 5px 15px;
    background: #fff url(images/tcat.gif) repeat-x left center;
    border-bottom: solid 1px #BBBBBB;
}

.news a
{
    color: blue;
}

.news .tcat
{
    background: none;
    text-decoration: none;
    font-weight: bold;
    color: #8A0000;
    background: url(images/bullet-title.gif) no-repeat center left !important;
    padding-left: 18px;
}

.news .thead, .thead1
{
    background: none;
    text-decoration: none;
    background: url(images/square.gif) no-repeat left top !important;
    padding-left: 10px;
    line-height: 20px;
    color: #000;
}

.news .thead1
{
    background: url(images/bullet.png) no-repeat left 5px !important;
}

.news .thead:hover
{
    color: #B74000;
    text-decoration: underline;
}

#footer
{
    clear: both;
    background: #1C4670;
    position: relative;
    height: 60px;
    color: #fff;
}

.button,.flatbtn

{
    margin:0;
    padding: 2px 5px;
    border: 1px solid #849BBA;
    color: #092076;
    background: url(images/button.gif) repeat-x;
    text-decoration: none;
    text-align: center;
}

* html .button, * + html .button
{
    padding: 2px 3px !important;
    border: 1px solid #FFFFFF;
}

.flatbtn
{
    padding:1px;
    width:80px;
}


.message
{
    background-color: #EFFBFE;
    border: 1px solid #C6CED9;
}

#rightcol .multiPage
{
    border-top: none;
    background-color: transparent;
    margin-top: -1px;
}

.inputField, .webSearchField
{
    background-color: white;
    border: 1px solid #99AABD;
    padding: 3px 6px;
}

.contentwrap th
{
    color: #497699;
}

.statitic
{
    border: 1px solid #ccc;
}

.statitic th
{
    background: #1E5892 url(images/tcat.gif) repeat-x left center;
    border-bottom: 1px solid #ccc;
}

.statitic td.left
{
    border-right: 1px solid #ccc;
}

#ctl00_ContentPlaceHolder_redtBodyCenter
{
    border:1px solid #93B3D2;
}

.messagetitle
{
    background: #DEF0FF url(images/BarBg.png) repeat-x left bottom;
}

#RAD_SPLITTER_ctl00_ContentPlaceHolder_RadSplitter1
{
    border-color:#98BFC2;
}

.templateLink
{
    background: none;
    text-decoration: none;
    background: url(images/bullet.png) no-repeat left 5px !important;
    padding-left: 10px;
    line-height: 20px;
    color: #000;
}
