/* RadToolbar Custom skin file */

/* toolbar rounded corners */

.RadToolBar_Custom_Horizontal .rtbOuter
{
    background-image: url('ToolBar/ToolbarBgH.gif');
    background-color:#fff;
    background-position:left top;
    background-repeat:repeat-x;
    font-size: 9pt;
    font-weight: normal;
    font-family: Tahoma;
}

.RadToolBar_Custom .rtbInner
{
    padding:2px;
}

.RadToolBar_Custom_Vertical .rtbOuter
{
    background: #fff url( 'ToolBar/ToolbarBgV.gif' ) repeat-y 100% 0;
}

/* spacing between items */

.RadToolBar_Custom .rtbItem .rtbWrap
{
    padding: 1px;
}

.RadToolBar_Custom .rtbIn
{
    padding: 2px;
}

* html .RadToolBar_Custom .rtbItem
{
    margin-bottom: 2px;
}

.RadToolBar_Custom .rtbText
{
    padding: 0 2px;
}

/* buttons */

.RadToolBar_Custom .rtbItemHovered .rtbWrap, .RadToolBar_Custom .rtbItemFocused .rtbWrap, .RadToolBar_Custom .rtbChecked .rtbWrap
{
    padding: 0;
    border: 1px solid #7EACB1;
}

.RadToolBar_Custom .rtbItemFocused .rtbWrap, .RadToolBar_Custom .rtbItemHovered .rtbWrap
{
    background-image: url('ToolBar/ToolbarItemHover.gif');
    background-color:#C0DDE0;
    background-position:center;
}

.RadToolBar_Custom .rtbItemClicked .rtbWrap, .RadToolBar_Custom .rtbChecked .rtbWrap, .RadToolBar_Custom .rtbUL .rtbDropDownExpanded .rtbWrap, .RadToolBar_Custom .rtbUL .rtbSplBtnExpanded .rtbWrap
{
    background: url( 'ToolBar/ToolbarItemActive.gif' ) repeat-x 0 50%;
}

.RadToolBar_Custom .rtbWrap
{
    color: #000;
}

.RadToolBar_Custom .rtbItemHovered .rtbWrap, .RadToolBar_Custom .rtbChecked:hover .rtbWrap
{
    color: #000;
}

.RadToolBar_Custom .rtbChecked .rtbWrap, .RadToolBar_Custom .rtbUL .rtbDropDownExpanded .rtbWrap, .RadToolBar_Custom .rtbUL .rtbSplBtnExpanded .rtbWrap
{
    padding: 0;
    border: 1px solid #cacaca;
    color: #4d4d4d;
}

/* split button styles */

.RadToolBar_Custom .rtbSplBtn .rtbText
{
    padding-right: 3px;
}

.RadToolBar_Custom .rtbChoiceArrow, .RadToolBar_Custom .rtbItemHovered .rtbChoiceArrow
{
    width: 7px;
    height: 16px;
    margin-left: 5px;
    background: url( 'ToolBar/ToolbarSplitButtonArrow.gif' ) no-repeat 0 center;
}

.RadToolBar_Custom .rtbItemFocused .rtbChoiceArrow, .RadToolBar_Custom .rtbUL .rtbDropDownExpanded .rtbChoiceArrow, .RadToolBar_Custom .rtbUL .rtbSplBtnExpanded .rtbChoiceArrow
{
    background-position: 100% center;
}

.RadToolBar_Custom .rtbSplBtnHovered .rtbWrap, .RadToolBar_Custom .rtbUL .rtbSplBtnExpanded .rtbWrap
{
    padding: 0;
    border: 1px solid #cacaca;
    background: url( 'ToolBar/ToolbarSplButHover.gif' ) no-repeat 100% 0;
}


/* disabled styles */

.RadToolBar_Custom .rtbDisabled .rtbWrap:hover, .RadToolBar_Custom .rtbDisabled .rtbWrap:hover .rtbOut, .RadToolBar_Custom .rtbDisabled .rtbWrap:hover .rtbMid, .RadToolBar_Custom .rtbDisabled .rtbWrap:hover .rtbIn
{
    background: none;
    cursor: default;
}

.RadToolBar_Custom .rtbDisabled .rtbWrap, .RadToolBar_Custom .rtbDisabled .rtbWrap:hover
{
    color: #ccc;
}

.RadToolBar_Custom .rtbDisabled .rtbIcon, .RadToolBar_Custom .rtbDisabled .rtbWrap:hover .rtbIcon, .RadToolBar_Custom .rtbDisabled .rtbChoiceArrow, .RadToolBar_Custom .rtbDisabled .rtbWrap:hover .rtbChoiceArrow
{
    opacity: 0.5;
    -moz-opacity: 0.5;
    filter: alpha(opacity=50);
}

/* popup menu styles */

.RadToolBarDropDown_Custom
{
    border: 1px solid #cacaca;
    background: #fff;
}

.RadToolBarDropDown_Custom .rtbItem
{
    padding: 1px 6px;
    margin: 1px;
}

.RadToolBarDropDown_Custom .rtbWrap
{
    color: #4D4D4D;
    font: normal 9pt/21px tahoma;
}

.RadToolBarDropDown_Custom .rtbText
{
    padding: 0 20px 0 5px;
}

.RadToolBarDropDown_Custom .rtbIcon
{
    margin-top: 3px;
}

.RadToolBarDropDown_Custom .rtbItemHovered, .RadToolBarDropDown_Custom .rtbItemFocused
{
    background: url( 'ToolBar/ToolbarItemActive.gif' ) repeat-x 0 50%;
    border: 1px solid #ccc;
    padding: 0 5px;
}


.RadToolBarDropDown_Custom .rtbSeparator
{
    border: 0;
    line-height: 0;
    background: #ccc;
    padding-top: 1px;
    margin: 1px 3px;
}

.RadToolBarDropDown_Custom .rtbSeparator .rtbText
{
    display: none;
}

.RadToolBarDropDown_Custom .rtbDisabled, .RadToolBarDropDown_Custom .rtbDisabled:hover
{
    background: none;
}

.RadToolBarDropDown_Custom .rtbDisabled .rtbText
{
    color: #999;
}
