﻿<%@ Page Language="VB" MasterPageFile="~/Template.Master" AutoEventWireup="false" CodeFile="Calendas.aspx.vb" Inherits="Calendas" %>

<%@ Register Assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" Namespace="CrystalDecisions.Web" TagPrefix="CR" %>



<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder" runat="Server">
          
             <asp:Label ID="Label1" runat="server" Text="Chọn "></asp:Label>
             
             <asp:DropDownList ID="ddlWeek" runat="server" AutoPostBack="True">
                    
                </asp:DropDownList>
    <CR:CrystalReportViewer ID="CrystalReportViewer1" runat="server" AutoDataBind="true" 
        Height="768px" 
        Width="768px" HasRefreshButton="True" ToolPanelView="None" EnableDatabaseLogonPrompt="False" EnableParameterPrompt="False" ReuseParameterValuesOnRefresh="True"/>
  
    <%--<CR:CrystalReportSource runat="server" ID="CrystalReportSource1">
        <Report FileName="~/RPT/rptlichcongtac.rpt">
        </Report>
    </CR:CrystalReportSource>--%>
 
</asp:Content>
  

