<%@ Page Language="VB" AutoEventWireup="false" CodeFile="DownloadAttachment.aspx.vb" Inherits="DownloadAttachment" Buffer="false" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Download</title>
</head>
<body></body>
</html>
