﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="DownloadAll.aspx.vb" Inherits="DownloadAll" Buffer="false" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head id="Head1" runat="server">
    <title>Download All Attachment</title>
</head>
<body></body>
</html>
